.ant-collapse .ant-collapse-item .ant-collapse-header .ant-collapse-header-text {
    font-size: 20px;

}
.ant-collapse-item {
    padding: 8px 0 ;
}
.ant-collapse-content.ant-collapse-content-active {
    transition: all .3s ease-in-out;
}
